# Copyright The Linux Foundation and each contributor to LFX.
# SPDX-License-Identifier: MIT
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Release.Namespace }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      serviceAccountName: {{ .Values.serviceAccount.name | default .Chart.Name }}
      containers:
        - name: app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          securityContext:
            allowPrivilegeEscalation: false
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          {{- range $name, $config := .Values.app.environment }}
          - name: {{ $name }}
            {{- if $config.value }}
            value: {{ $config.value | quote }}
            {{- else if $config.valueFrom }}
            valueFrom:
              {{- toYaml $config.valueFrom | nindent 14 }}
            {{- end }}
          {{- end }}
          {{- with .Values.app.extraEnv }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- if .Values.app.otel.serviceName }}
          - name: OTEL_SERVICE_NAME
            value: {{ .Values.app.otel.serviceName | quote }}
          {{- end }}
          {{- if .Values.app.otel.serviceVersion }}
          - name: OTEL_SERVICE_VERSION
            value: {{ .Values.app.otel.serviceVersion | quote }}
          {{- end }}
          {{- if .Values.app.otel.endpoint }}
          - name: OTEL_EXPORTER_OTLP_ENDPOINT
            value: {{ .Values.app.otel.endpoint | quote }}
          {{- end }}
          {{- if .Values.app.otel.protocol }}
          - name: OTEL_EXPORTER_OTLP_PROTOCOL
            value: {{ .Values.app.otel.protocol | quote }}
          {{- end }}
          {{- if .Values.app.otel.insecure }}
          - name: OTEL_EXPORTER_OTLP_INSECURE
            value: {{ .Values.app.otel.insecure | quote }}
          {{- end }}
          {{- if .Values.app.otel.tracesExporter }}
          - name: OTEL_TRACES_EXPORTER
            value: {{ .Values.app.otel.tracesExporter | quote }}
          {{- end }}
          {{- if .Values.app.otel.tracesSampleRatio }}
          - name: OTEL_TRACES_SAMPLE_RATIO
            value: {{ .Values.app.otel.tracesSampleRatio | quote }}
          {{- end }}
          {{- if .Values.app.otel.metricsExporter }}
          - name: OTEL_METRICS_EXPORTER
            value: {{ .Values.app.otel.metricsExporter | quote }}
          {{- end }}
          {{- if .Values.app.otel.logsExporter }}
          - name: OTEL_LOGS_EXPORTER
            value: {{ .Values.app.otel.logsExporter | quote }}
          {{- end }}
          {{- if .Values.app.otel.propagators }}
          - name: OTEL_PROPAGATORS
            value: {{ .Values.app.otel.propagators | quote }}
          {{- end }}
          ports:
            - containerPort: {{ .Values.service.port }}
              name: web
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          livenessProbe:
            httpGet:
              path: /livez
              port: web
            failureThreshold: 3
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /readyz
              port: web
            failureThreshold: 1
            periodSeconds: 10
          startupProbe:
            httpGet:
              path: /readyz
              port: web
            failureThreshold: 30
            periodSeconds: 1
